/*.button{*/
/*    -fx-background-color: #F3F3F3;*/
/*}*/

.menuItem{
    -fx-background-color:  #152259;
}
.menuItem:hover{
    -fx-background-color: #509cda;
    -fx-border-width: 0px 0px 0px 10px;
    -fx-border-color: WHITE;

}