/*.button{*/
/*    -fx-background-color: #F3F3F3;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto+Condensed:wght@700&display=swap');


*{
    -fx-font-family: 'Roboto Condensed', sans-serif;
    -fx-font-size: 20px;
}
.menuItem{
    -fx-background-color:  #152259;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: rgba(20, 19, 19, 0.41);
}
.menuItem:hover{
    -fx-background-color: #509cda;
    -fx-border-width: 0px 0px 0px 10px;
    -fx-border-color: WHITE;
    -fx-font-family: 'Roboto Condensed', sans-serif;

}

#inner_pane{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;

}

.side_ankerpane{
    -fx-background-color: #152259;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-font-family: 'Roboto Condensed', sans-serif;
}


/*CSS for USERMANAGER SCENE*/
.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: #37314a;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #180131;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #f6f6f6;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #81CCFF;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/*  style classes for button */
#btnAddcss {
    -fx-background-color: linear-gradient(#f0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #ffff;
}

#btnEditcss {
    -fx-background-color: linear-gradient(#FFD700, #FEBE10),
    radial-gradient(center 50% -40%, radius 200%, #FFD700 45%, #FEBE10 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #ffff;
}

#btnDeletecss {
    -fx-background-color: linear-gradient(#fc2d4f, #9e1c3c),
    radial-gradient(center 50% -40%, radius 200%, #fc2d4f 45%, #9e1c3c 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #ffff;
}

#btnActivecss {
    -fx-background-color: linear-gradient(#0dccea, #0d70ea),
    radial-gradient(center 50% -40%, radius 200%, #0dccea 45%, #0d70ea 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #ffff;
}

#btnInactivecss {
    -fx-background-color: linear-gradient(#FF7E31, #E62C03),
    radial-gradient(center 50% -40%, radius 200%, #FF7E31 45%, #E62C03 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #ffff;
}

#btnDuyetcss {
    -fx-background-color: linear-gradient(#455EB5, #5643CC),
    radial-gradient(center 50% -40%, radius 200%, #455EB5 45%, #5643CC 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #ffff;
}

#btnSearchcss, #btnAllAccountcss {
    -fx-background-color: linear-gradient(#0dccea, #0d70ea),
    radial-gradient(center 50% -40%, radius 200%, #0dccea 45%, #0d70ea 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #ffff;
}

/*  style classes for button */

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}


.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

