#usernameTextField {
    -fx-border-width: 0 0 1 0; /* Only set the bottom border width */
    -fx-border-color: black; /* Set the border color */
    -fx-padding: 5;
}

#passwordField {
    -fx-border-width: 0 0 1 0; /* Only set the bottom border width */
    -fx-border-color: black; /* Set the border color */
    -fx-padding: 5;
}


#LoginButton{
    -fx-background-color: #9140dc
}

#LoginButton:hover{
    -fx-background-color: #BC7FF7FF;
    /*-fx-border-width: 0px 5px 0px 5px;*/
    /*-fx-border-color: rgba(255, 255, 255, 0);*/
    /*-fx-font-family: 'Roboto Condensed', sans-serif;*/
}

#loginWithToken:hover {
    -fx-background-color: #b4cce5;
}
#registerAccount:hover {
    -fx-background-color: #b4cce5;
}

/*#gridPane{*/
/*-fx-background-color: linear-gradient(#e66465, #9198e5);*/
/*}*/


/*css for register layout */
